@model BusquedaPaquete
@{
    ViewData["Title"] = "Home Page";
}

<section class="Hero ">
    <div class="contenido-hero text-white text-center  row p-0 m-0">
        <h1 class="align-self-center">Conectando destinos, un paquete a la vez.</h1>
        <form asp-controller="Home" asp-action="Index" class="formulario form-group">
            <div class="campos row gap-1 gy-md-0 gy-2">
                <div class="form-floating col-md text-black p-0 m-0">
                    <input asp-for="IdEnvio" type="text" placeholder="ID DE RASTREO" class="form-control" />
                    <label>ID DE RASTREO</label>
                </div>
                <div class="btn-ID col-md-3 p-0 ">
                    <button type="submit" class="btn btn-primary">RASTREAR</button>
                </div>
                <span asp-validation-for="IdEnvio" class="text-danger"></span>
                
            </div>
        </form>      
    </div>   
</section>



<div class="container mt-4">
    <div class="artic pt-5 row">
        <div class="artic-image col-md-6 p-0">
            <img class="" src="~/imagenes/img1.jpeg" />
        </div>
        <div class="col-md-6 box-text">
            <div class="artic-title">
                <h2>Envío de Documentos y Paquetes</h2>
            </div>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus cursus urna arcu, eu maximus ante volutpat feugiat. Nulla euismod ac enim ac viverra. Phasellus aliquam diam id ipsum  molestie, ac laoreet justo cursus. Aenean euismod lobortis dolor vel ullamcorper. Cras vel convallis orci, sit amet tincidunt mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris vel volutpat orci.</p>
            <div class="mt-5 ">
                <input type="submit" class="btn btn-primary w-100" value="Conocenos"/>
            </div>
            
        </div>
        
    </div>

    <div class="artic pt-5 row">
        
        <div class="col-md-6 box-text2  order-last order-md-first">
            <div class="artic-title">
                <h2>Envío de Documentos y Paquetes</h2>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus cursus urna arcu, eu maximus ante volutpat feugiat. Nulla euismod ac enim ac viverra. Phasellus aliquam diam id ipsum  molestie, ac laoreet justo cursus. Aenean euismod lobortis dolor vel ullamcorper. Cras vel convallis orci, sit amet tincidunt mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris vel volutpat orci.</p>
            <div class="mt-5 ">
                <input type="submit" class="btn btn-primary w-100" value="Conocenos" />
            </div>

        </div>
        <div class="artic-image der col-md-6 p-0 ">
            <img class="img-fluid" src="~/imagenes/img2.jpg" />
        </div>

    </div>

    <div class="artic pt-5 row">
        <div class="artic-image col-md-6 p-0 ">
            <img class="" src="~/imagenes/img3.png" />
        </div>
        <div class="col-md-6 box-text ">
            <div class="artic-title">
                <h2>Envío de Documentos y Paquetes</h2>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus cursus urna arcu, eu maximus ante volutpat feugiat. Nulla euismod ac enim ac viverra. Phasellus aliquam diam id ipsum  molestie, ac laoreet justo cursus. Aenean euismod lobortis dolor vel ullamcorper. Cras vel convallis orci, sit amet tincidunt mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris vel volutpat orci.</p>
            <div class="mt-5 ">
                <input type="submit" class="btn btn-primary w-100" value="Conocenos" />
            </div>

        </div>

    </div>

    
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}